{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Detail</title>
    <link rel="stylesheet" href="{% static 'css/car_detail.css' %}">
</head>
<body>
{% include 'header.html' %}
<button class="custom-btn btn-7"><span><a href="/car_list/">На список машин</a></span></button>

<center>
<div class="container">
    <div class="post">
        <div class="post-header">
            <h1>{{object.title}}</h1>
            <div class="post-meta">
                <time datetime="2019-04-01">Последнее обновление: {{object.created_data}}</time>
                <span class="author">Тип кузова: {{object.car_type}}</span>
                <span class="category">Цена: {{object.cost}}$</span>
            </div>
        </div>
        <div class="post-image">
            <img src="{{object.image.url}}">
        </div>
        <button class="custom-btn btn-7"><span><a href="/car_list/{{object.id}}/comment">Оставить отзыв</a></span></button>
        <button class="custom-btn btn-7"><span><a href="/car_list/{{object.id}}/update">Изменить</a></span></button>
        <button class="custom-btn btn-7"><span><a href="/car_list/{{object.id}}/delete">Удалить</a></span></button>
        <div class="post-content">
            <p>{{object.description}}</p>
        </div>
    </div>
    <br>
        <table border="4px">
        <tr>
            <td>Текст</td> &nbsp; <td>Рейтинг</td>&nbsp; <td>Дата создания</td>
        </tr>

        {% for j in object.comment_object.all %}
        <tr>
            <td>{{j.text}}</td><td>{{j.rate_stars}}</td><td>{{j.created_data}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <iframe src="{{object.video}}" frameborder="0" width="800" height="400"></iframe>
</div>
</center>

    {% include 'footer.html' %}
</body>
</html>